<div class="container pt-5">
  <div class="card shadow mb-5 bg-white rounded new-form">
  <div class="title text-center pt-2 display-2">Create a New Article</div>

  <%= render 'form' %>
</div>
</div>
