<div class="container">
  <div class="chat">
    <p class="text-center display-2 pt-5">Chat</p>

    <div class="row chat-container">
      <div class="col-md-8 center-block">
        <div class="messages" id="messages">
          <%= render @messages %>
        </div>
      </div>
    </div>
    <p></p>
    <div class="message-container" id="send">

      <%= form_for(@message, remote: true) do |f| %>

        <%= f.text_area :content, class: 'form-control', data: { behavior: 'room_speaker' }, placeholder: 'Chat Comment', id: 'send' %>
        <%= f.submit 'Submit Message', class: 'form-group art-btn btn-lg chat-btn ml-2', data: { send: 'message' } %>
        <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% end %>
    </div>
  </div>
</div>
