
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <%= image_tag 'typewriter.jpg', alt: 'typewriterimage', id: 'background' %>




      <div class="display-1 think">Thoughts</div>
      <div class="text-center pt-5">
        <%= link_to 'Articles', articles_path, class: 'btn home-btn btn-lg' %>
      </div>









    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
