<div class="container">
  <h1 class="text-center mt-4 pt-2 pb-3">Categories</h1>

  <div class="flickr_pagination pb-3">
    <%= will_paginate @categories, :container => false %>
  </div>

  <% @categories.each do |category| %>
    <div class="card text-center shadow mb-5 bg-white rounded">
      <h2><%= link_to category.name, category_path(category), class: 'links' %></h2>
      <p class="card-text"><%= pluralize(category.articles.count, 'article') %></p>
    </div>
  <% end %>




  <div class="flickr_pagination pb-3">
    <%= will_paginate @categories, :container => false %>
  </div>


</div>
