<div class="container pt-5">
  <div class="card shadow mb-5 bg-white rounded new-form">
    <div class="display-2 text-center title">Create a New Category</div>

      <%= render 'form' %>

      <p><%= link_to 'All Categories', categories_path, class: 'links' %></p>
    </div>
</div>
