<div class="container">
  <div class="display-2 text-center pt-3 title pb-5 pt-5">
    <%= @category.name.capitalize %>
  </div>

  


  <h2>Category: <%= @category.name %></h2>



  <p><%= link_to 'All Categories', categories_path, class: 'links' %></p>






</div>

<div class="show-footer"><%= render 'layouts/footer' %></div>
