<div class="mastfoot">
  <div class="inner">
    <p class="app-footer"><%= @copyright %>
    <%#= link_to '  Shownola', 'https://shownola-portfolio.shownola.net/', target: '_blank', class: 'name-link text-center' %></p>
  </div>
</div>
